.product-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.product-main-content {
    grid-column: 1 / 2;
}

.checkout-sidebar-container {
    grid-column: 1 / 2; 
}

.checkout-sidebar {
    width: 100%;
    background-color: #444444;
    border: 1px solid #5e5e5e;
    border-radius: 2%;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 20px;
    position: relative;
}

@media (min-width: 992px) {
    .checkout-sidebar {
        height: 50%;
    }
    .product-page-container {
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
    }

    .checkout-sidebar-container {
        grid-column: 2 / 3; 
        margin-top: 0;
    }

    .product-main-content {
        grid-column: 1 / 2; 
    }
}

@media (max-width: 991px) {
    .product-page-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .product-main-content {
        grid-column: 1 / 2;
    }

    .checkout-sidebar-container {
        grid-column: 1 / 2;
        margin-top: 2rem;
    }
}
