@using Frontend.Services
@inject ILocalCartStorageService LocalCartStorageService
<div class="header">
    <a href="" class="header-logo">
        <img src="images/logo.png" alt="Logo" />
    </a>
    <div class="header-title">Frölunda Arcade</div>

    <div class="cart-button-wrapper">
        <button id="cartToggleButton" class="cart-btn btn btn-outline-light position-relative" @onclick="ToggleCart">
            🛒
            @if (CartItemCount > 0)
            {
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    @CartItemCount
                </span>
            }
        </button>
        <ShoppingCart Visible="IsCartOpen" OnClose="ToggleCart" />
    </div>
</div>

<link rel="stylesheet" href="css/HeaderStyle.css" />

@code {
    private bool IsCartOpen = false;
    private int CartItemCount;

    protected override void OnInitialized()
    {
        LocalCartStorageService.OnChange += StateHasChanged;
        CartItemCount = LocalCartStorageService.GetCartItemCount();
    }

    public void Dispose()
    {
        LocalCartStorageService.OnChange -= StateHasChanged;
    }

    private void ToggleCart()
    {
        IsCartOpen = !IsCartOpen;
    }
}