@using MudBlazor
<div class="card rounded-0 p-3" id="ProductCard1">
    <div class="d-flex justify-content-between align-items-center gap-3">
        <div class="flex-grow-1">
            <h5 class="card-title fw-bold mb-1">Nintendo product</h5>
            <p class="card-text mb-2">This is just testing the layout of the card</p>
            <button class="ProductCardButton">Buy</button>
        </div>
            <MudRating SelectedValue="3" Class="justify-content-sm-center" />
        <div class="text-nowrap text-end">

            <p class="ProductCardPrice fw-semibold text-success mb-0" style="font-size: 1.1rem; margin-right:70px;">250 Kr</p>
        </div>
        <div class="flex-shrink-0">
            <img class="ProductImage"
                 src="https://images.unsplash.com/photo-1572537577590-ac6a88150100?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 style="width: 80px; height: 80px; object-fit: cover; border-radius: 0;" />
        </div>
    </div>
</div>

@code {

}