@using Frontend.Models
@using Frontend.Services
@using Frontend.Services.Interfaces
@using System.Globalization
@using Frontend.Components.User.Components
@inject ILocalCartStorageService LocalCartStorageService

<div class="checkout-sidebar p-4 text-light">
    <div class="checkout-sidebar-content">
        @* <ReviewViewer Reviews="Reviews"/> *@
        @if (Product is not null)
        {
            <h3>@Product.Name</h3>
            <hr />
            <p><strong>Price:</strong> @Product.Price.ToString("C", CultureInfo.CurrentCulture)</p>
            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-primary" @onclick="() => LocalCartStorageService.AddToCart(Product)">Add to Cart</button>
            </div>
        } 
         else
        {
            <p>No product selected</p>
        }
    </div>
</div>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public List<Review> Reviews { get; set; } = new();
}


<link rel="stylesheet" href="css/CheckoutSidebarStyle.css" />