@using Frontend.Models
@using Frontend.Services
@using Frontend.Services.Interfaces
@using System.Globalization
@using Frontend.Components.User.Components
@inject ILocalCartStorageService LocalCartStorageService

<div class="card-footer bg-transparent text-light">
    @if (Product is not null)
    {
        <h5 class="mb-2">@Product.Name</h5>
        <p class="mb-3"><strong>Price:</strong> @Product.Price.ToString("C", CultureInfo.CurrentCulture)</p>
        <button class="btn arcade-btn"
                @onclick="() => LocalCartStorageService.AddToCart(Product)">
            Add to Cart
        </button>
    }
    else
    {
        <em>No product selected</em>
    }
</div>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public List<Review> Reviews { get; set; } = new();
}


<link rel="stylesheet" href="css/CheckoutSidebarStyle.css" />