@using Frontend.Models
@using Frontend.Services
@using Frontend.Services.Interfaces
@using System.Globalization
@using Frontend.Components.User.Components
@inject ILocalCartStorageService LocalCartStorageService

<div class="bg-transparent text-light">
    @if (Product is not null)
    {
        
        <p class="mb-3"><strong>Price:</strong> @Product.Price.ToString("C", CultureInfo.CurrentCulture)</p>
        <button class="simple-arcade-btn" style="background-color:limegreen"
                @onclick="() => LocalCartStorageService.AddToCart(Product)">
            Add to Cart
        </button>
    }
    else
    {
        <em>No product selected</em>
    }
</div>

@code {
    [Parameter] public Product Product { get; set; }
    [Parameter] public List<Review> Reviews { get; set; } = new();
}


<link rel="stylesheet" href="css/CheckoutSidebarStyle.css" />