@using Blazored.LocalStorage
@using Firebase.Auth
@using Frontend.Models
@using Frontend.Services
@using Frontend.Services.Interfaces
@using Microsoft.AspNetCore.Components.Authorization
@inject IFirebaseAuthService FirebaseAuthService
@inject ILocalCartStorageService cartStorage
@inject ICartService CartService
@inject IJSRuntime JsRuntime
@inject FirebaseAuthClient FirebaseAuthClient
<ConfirmDialog @ref="confirmed" />
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">



                    <NavLink class="nav-link" id="nav-login" href="/login" Match="NavLinkMatch.All">

                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/profile-page" Match="NavLinkMatch.All">
                        <span class="bi bi-person" aria-hidden="true"></span> Profile Page
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" id="nav-admin" href="/admin-page" Match="NavLinkMatch.All">
                        <span class="bi bi-lock" aria-hidden="true" ></span> Admin Page
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/forum" Match="NavLinkMatch.All">
                <span class="bi bi-people" aria-hidden="true"></span> Forum
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/events" Match="NavLinkMatch.All">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/contact" Match="NavLinkMatch.All">
                <span class="bi bi-pin-map-fill" aria-hidden="true"></span> Contact
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="OnSignOutClicked" href="#" Match="NavLinkMatch.All">
                        <span class="bi bi-door-open" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

<style>
    .nav-link span {
    font-size: 1.2rem;
    line-height: 1;
    }
</style>

@code {
    private ConfirmDialog confirmed = default!;
    private Cart Cart { get; set; } = new();
    private async Task OnSignOutClicked()
    {
        await cartStorage.LoadCartAsync();
        Cart.cartItems = cartStorage.Cart;
        bool saveCart = await confirmed.ShowAsync(
       "Leaving So Soon?",
       "Do you want to save your shopping cart for your next session?"
       );
        if (saveCart && Cart.cartItems.Count > 0)
        {
            var token = await JsRuntime.InvokeAsync<string>("getCookie", "token");

            if (!string.IsNullOrEmpty(token))
            {
                var tokenVerified = await FirebaseAuthService.VerifyTokenAsync(token);

                if (tokenVerified && FirebaseAuthClient.User is not null)
                {
                    var firebaseAuthUserId = FirebaseAuthClient.User.Uid;

                    Cart.UserId = firebaseAuthUserId;

                }
            }

                   
                   
            await CartService.AddCart(Cart);
        }
        await cartStorage.ClearCartAsync();
        await FirebaseAuthService.Logout();
        
    }
}



                
            
            
            
            

       