<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet" />

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Frontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <!--Display when not authenticated-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/sign-in" Match="NavLinkMatch.All">
                <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Sign in
            </NavLink>
        </div>
        <!--Display when authenticated-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile-page" Match="NavLinkMatch.All">
                <span class="bi bi-person" aria-hidden="true"></span> Profile Page
            </NavLink>
        </div>
        <!--Display when authorized admin-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin-page" Match="NavLinkMatch.All">
                <span class="bi bi-lock" aria-hidden="true"></span> Admin Page
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/forum" Match="NavLinkMatch.All">
                <span class="bi bi-people" aria-hidden="true"></span> Forum
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/events" Match="NavLinkMatch.All">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <!--Display when authenticated-->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sign-out" Match="NavLinkMatch.All">
                <span class="bi bi-door-open" aria-hidden="true"></span> Sign out
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .nav-link span {
        font-size: 1.2rem;
        line-height: 1;
    }
</style>