@using Frontend.Components.User.Components
@inherits LayoutComponentBase
<Header />
<div class="page">
    <main>
        <div class="sidebar">
            <NavMenu />
        </div>

       <div class="body-text">
            @Body

       </div>
    </main>
    @*  <footer>
         <div class="position-absolute bottom-0 start-50 translate-middle-x w-100 h-25">
        <Footer />
    </div> 
    </footer> *@
</div>
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="/js/ScrollCarousel.js"></script>

<script src="js/cart.js"></script>