@using Frontend.Services
@using Frontend.Models
@using Frontend.Services.Interfaces
@using MudBlazor
@inject IForumService ForumService
@inject IEventService EventService

<MudForm>
    <MudItem xs="12">
        <MudTextField @bind-Value="_event.Name" Label="Event Name" Required="true" />
    </MudItem>
    <MudItem xs="12">
        <MudTextField @bind-Value="_event.Description" Label="Event Description" Required="false" />
    </MudItem>
    <MudItem xs="12">
        <MudDatePicker  Text="2020-10-19" />
    </MudItem>
    <button class="simple-arcade-btn btn-sm w-100" id="@_event.Name+1" @onclick="() => EventService.AddEventAsync(_event)" style="background-color: limegreen">Add</button>
</MudForm>




@code {
    [Parameter] public string? EventName { get; set; }
    [Parameter] public string? EventDescription { get; set; }
    [Parameter] public DateTime EventDate { get; set; }
    

    private Models.Event _event = new Models.Event() { Date=DateTime.Now};


        

    public void CreateEvent()
    {
        

       ForumService.AddForumPostAsync(new ForumPost
          {
          Title = _event.Name,
          Content = _event.Description,
          Category = ForumCategory.Announcements,
          Created = DateTime.Now,
          Author = new User { Username = "Admin" },
       });
    }


}
