@page "/admin-page"
@using Frontend.Models
@using Frontend.Services
@using User = Frontend.Models.User
@using Frontend.Components.Store.Components
@using Frontend.Components.Admin.Components
@using Frontend.Services.Interfaces
@inject IProductService ProductService
@inject IUserService UserService
@inject IOrderService OrderService
@inject ICartService CartService
@inject IHighscoresService HighscoresService

<h3 class="welcome-text" id="admin-page">Admin Page</h3>

<div id="products-button" class="d-flex justify-content-center mb-5">
    <button class="btn me-2 @(IsViewingProducts ? "btn-primary" : "btn-outline-primary")"
    @onclick="() => IsViewingProducts = true">
        View Products
    </button>

    <button id="user-button" class="btn me-2 @(IsViewingUsers ? "btn-outline-primary" : "btn-primary")"
    @onclick="() => IsViewingUsers = true">
        View Users
    </button>

    <button id="highscores-button" class="btn @(IsViewingHighscores ? "btn-outline-primary" : "btn-primary")"
    @onclick="() => IsViewingHighscores = true">
        View Highscores
    </button>

    <button id="events-button" class="btn @(IsViewingEvents ? "btn-outline-primary" : "btn-primary")"
    @onclick="() => IsViewingEvents = true">
        Edit Events
    </button>
</div>

@if(IsViewingProducts)
{
    <ProductEditor/>
}
else if(IsViewingUsers)
{
    <UserEditor/>
}
else if(IsViewingHighscores)
{
    <HighscoresEditor HighscoresList="_highscores" OnChange="RefreshHighscores" />
}
else if (IsViewingEvents)
{
    <EventEditor/>
}

@code {
    private List<Product> _filteredProducts = new();
    private List<Highscores>? _highscores = new();

    private bool _isViewingProducts = true;

    private bool IsViewingProducts
    {
        get => _isViewingProducts;
        set
        {
            _isViewingProducts = value;
            if(_isViewingProducts)
            {
                IsViewingEvents = false;
                IsViewingUsers = false;
                IsViewingHighscores = false;
            }
            StateHasChanged();
        }
    }

    private bool _isViewingUsers = false;

    private bool IsViewingUsers
    {
        get => _isViewingUsers;
        set
        {
            _isViewingUsers = value;
            if (_isViewingUsers)
            {
                IsViewingEvents = false;
                IsViewingProducts = false;
                IsViewingHighscores = false;
            }
            StateHasChanged();
        }
    }

    private bool _isViewingHighscores = false;

    private bool IsViewingHighscores
    {
        get => _isViewingHighscores;
        set
        {
            _isViewingHighscores = value;
            if (_isViewingHighscores)
            {
                IsViewingEvents = false;
                IsViewingUsers = false;
                IsViewingProducts = false;
            }
            StateHasChanged();
        }
    }


    private bool _isViewingEvents = false;

    private bool IsViewingEvents
    {
        get => _isViewingEvents;
        set
        {
            _isViewingEvents = value;
            if (_isViewingEvents)
            {
                IsViewingUsers = false;
                IsViewingProducts = false;
                IsViewingHighscores = false;
            }
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _highscores = await HighscoresService.GetAllHighscoresAsync();

            StateHasChanged();
        }
    }

    private async Task RefreshHighscores(Highscores newHighscores)
    {
        _highscores = await HighscoresService.GetAllHighscoresAsync();
        StateHasChanged();
    }

    private async Task RefreshHighscores()
    {
        _highscores = await HighscoresService.GetAllHighscoresAsync();
        StateHasChanged();
    }

}