@using Microsoft.AspNetCore.Components.Web

<footer class="border-top border-purple mt-5 py-4">
    <div class="container">
        <div class="row justify-content-between mb-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 text-center text-md-start">
                <div class="d-flex flex-column align-items-center align-items-md-start">
                    <img src="/Images/logo.png" class="header-logo" alt="Frölunda Arcade Logo" style="max-height:50px; max-width:50px;" />
                    <h2 class=" fs-6 text-nowrap mt-3 pixel-subtitle sub-heading">Frölunda Arcade</h2>
                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0 text-center text-md-start">
                        <h3 class="h6 mb-3 sub-heading">Navigation</h3>
                        <ul class="nav flex-column footer-links text-white fw-lighter p-0">
                            <li class="nav-item mb-2"><a href="/" class="nav-link text-white fw-lighter p-0">Home</a></li>
                            <li class="nav-item mb-2"><a href="/store-front" class="nav-link text-white fw-lighter p-0">Games</a></li>
                            <li class="nav-item mb-2"><a href="/contact" class="nav-link text-white fw-lighter p-0">About</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0 text-center text-md-start">
                        <h3 class="h6 mb-3 sub-heading">Contact</h3>
                        <ul class="nav flex-column footer-links">
                            <li class="nav-item mb-2"><a href="mailto:arcadefrolunda@gmail.com" class="nav-link text-white fw-lighter p-0">Email Us</a></li>
                            <li class="nav-item mb-2"><a href="/contact#location" class="nav-link text-white fw-lighter p-0">Location</a></li>
                            <li class="nav-item mb-2"><a href="/contact#location" class="nav-link text-white fw-lighter p-0">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center text-md-start">
                        <h3 class="h6 mb-3 sub-heading">Social</h3>
                        <div class="d-flex gap-3 justify-content-center align-items-center justify-content-md-start social-icons">
                            <a href="https://discord.gg/2XGe2kUY" target="_blank" class="text-light fs-5"><i class="bi bi-discord"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top border-purple pt-4 text-center">
            <p class="mb-2 text-white fw-lighter">&copy; @DateTime.Now.Year Frölunda Arcade. All rights reserved.</p>
            <p class="screen-arcade-text">Insert Coin to Continue</p>
        </div>
    </div>
</footer>
