@page "/admin-page"
@using Firebase.Auth
@using Frontend.Models
@using Frontend.DummyData
@using Frontend.Components.Controls
@using Frontend.Services
@using Microsoft.AspNetCore.Authorization
@using User = Frontend.Models.User
@inject HttpClient http
@inject IProductService product_Service
@inject FirebaseAuthClient FirebaseAuthClient

<h3 class="welcome-text" id="admin-page">Admin Page</h3>

<div class="d-flex justify-content-center mb-5">
    <button class="btn me-2 @(IsViewingProducts ? "btn-primary" : "btn-outline-primary")"
    @onclick="() => IsViewingProducts = true">
        View Products
    </button>

    <button class="btn @(IsViewingUsers ? "btn-outline-primary" : "btn-primary")"
    @onclick="() => IsViewingUsers = true">
        View Users
    </button>
</div>

@if(IsViewingProducts)
{
    <ProductSorter Products="products" OnFilteredChanged="OnFilteredChanged" />

    <ProductEditor Products="filteredProducts" 
    OnAddProduct="HandleAddProduct"/>
}
else if(IsViewingUsers)
{
    <UserEditor />
}

@code {
    private List<Product> products = new();
    private List<Product> filteredProducts = new();
    private List<User> users = new();

    private bool _isViewingProducts = true;
    public bool IsViewingProducts
    {
        get => _isViewingProducts;
        set
        {
            _isViewingProducts = value;
            if(_isViewingProducts)
            {
                IsViewingUsers = false;
            }
            StateHasChanged();
        }
    }

    private bool _isViewingUsers = false;
    public bool IsViewingUsers
    {
        get => _isViewingUsers;
        set
        {
            _isViewingUsers = value;
            if (_isViewingUsers)
            {
                IsViewingProducts = false;
            }
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(100);
        products = await product_Service.GetAllProductsAsync();

        StateHasChanged();
    }

    private async Task HandleAddProduct(Product newProduct)
    {
        products = await product_Service.GetAllProductsAsync(); 
        filteredProducts = products; 
        StateHasChanged(); 
    }
    



    private void OnFilteredChanged(List<Product> filtered)
    {
        filteredProducts = filtered;
    }
}