@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="welcome-text text-center mb-5">Welcome to Frölunda Arcade!</div>

<div class="d-flex flex-column flex-md-row justify-content-center gap-5 m-5">
    <div class="col-12 col-md-7">
        <div class="generic-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dignissim placerat risus dignissim ullamcorper. Aenean id lacus egestas, viverra velit non, malesuada mauris. Sed at mi porttitor, elementum nisi a, laoreet orci.
        </div>
    </div>
    <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
        <div class="generic-text mb-3">
            Discover a world of classic and modern gaming at Frölunda Arcade
        </div>
        <button type="button" class="btn btn-secondary w-auto" @onclick='() => Navigation.NavigateTo("/store-front")'>See Products</button>
    </div>
</div>


<CreateEventCard />